<div class='ContenedorFormulario'>
    <div class='contenedor_Titulo_Parrafo'>
    <h2 class='tituloForm'>Inscribirse</h2>
    <p class='parrafo'> </p>
    </div>
   
    <form class='Formulario' action="/admision"method="POST">
        <div class='input_1'>
            <input class='inputNombre' type="text"name="nombre" placeholder='Nombre del aspirante' />
            <input class='inputNombre' type="text"name="apellido" placeholder='apellido del aspirante' />
            <input class='inputNombre' type="text"name="genero" placeholder='genero del aspirante' />
            <input type="date" name="nacimiento" placeholder="fecha de nacimiento">
            <input type="text" name="nivel" placeholder="nivel de educacion">
            <input type="text" name="nombreYapellido" placeholder="Nombres y apellidos completos"> 
            <input type="number" name="telefono" placeholder="numero de telefono">
            <input class='inputGmail'  type="text" name="email" placeholder='Gmail' />
            <button class='css-button-fully-rounded--yellow' type="submit"  >Send</button>
        </div>

        
        
    </form>
    

</div>
